<div>
	<table class="table table-hover table-bordered table-responsive">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Count</th>
			<th>Updated</th>
			<th>Should Refill</th>
			<th>Status</th>
			<th>Restock</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in items">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.category.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.count}}</td>
			<td>{{item.recordLastUpdated}}</td>
			<td>{{item.shouldRefill}}</td>
			<td>{{item.recordStatus}}</td>
			<td><button class="btn btn-primary" ng-click="addToList(item)"> Add </button></td>
		</tr>
		</tbody>
	</table>
	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Count</th>
			<th>Updated</th>
			<th>Should Refill</th>
			<th>Status</th>
			<th>Restock</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in restockItems">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.category.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.count}}</td>
			<td>{{item.recordLastUpdated}}</td>
			<td>{{item.shouldRefill}}</td>
			<td>{{item.recordStatus}}</td>
			<td><button class="btn btn-primary" ng-click="removeFromList(item)"> Remove </button></td>
		</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="restock()"> Place Restock Order </button>
</div>