<div align="center">
	<table class="table table-hover table-bordered table-responsive">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Min Value</th>
			<th>Max Value</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="category in customerCategories">
			<td>{{category.id}}</td>
			<td>{{category.name}}</td>
			<td>{{category.minCapValue}}</td>
			<td>{{category.maxCapValue}}</td>
			<td><button class="btn btn-default" ng-click="deleteCustomerCategory(newCategory)"> Delete </button></td>
		</tr>
		</tbody>
	</table>
	<div class="panel panel-default">
		<div class="container-fluid">
			<div class="row">
				<h3 align="center">Add Customer Category</h3>
				<form>
					<label>Name</label>
					<input class="form-control" type="text" ng-model="newCategory.name"/>
					<label>Minimum Value</label>
					<input class="form-control" type="text" ng-model="newCategory.minCapValue" />
					<label>Maximum Value</label>
					<input class="form-control" type="text" ng-model="newCategory.maxCapValue" />
					<button type="submit" class="btn btn-default" ng-click="addCustomerCategory(newCategory)"> Add </button>
				</form>
			</div>
		</div>
	</div>
</div>