<!DOCTYPE html>
<html ng-app="webShopApp">
<head>
	<meta charset="utf-8" />
	<title>WebShop KBS</title>

	<link href="Content/bootstrap.css" rel="stylesheet" />
	<link href="Content/bootstrap.min.css" rel="stylesheet" />
	<link href="Content/site.css" rel="stylesheet" />
</head>
<body ng-controller="userController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">WebShopKBS</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" type="button" data-toggle="dropdown">Menu &nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/manager/sales"> Sales </a></li>
							<li><a href="#!/manager/items"> Items</a></li>
							<li><a href="#!/manager/customerCategories"> Customer Categories </a></li>
							<li><a href="#!/manager/itemCategories"> Item Categories </a></li>
							<li><a href="#!/employee/orders"> Orders </a></li>
							<li><a href="#!/employee/restock"> Restock </a></li>
						</ul>
					</li>
					<li ng-if="user !== undefined || user.type === 0"><a href="#!/customer/profile"> Profile </a></li>
					<li ng-if="user !== undefined"><a href="#!/" ng-click="logout(user)"> Logout </a></li>
					<li ng-if="user === undefined"><a href="#!/register"> Register </a></li>
					<li ng-if="user === undefined"><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid text-center">
			<div ui-view>
			</div>
	</div>

	<!-- scripts-->
	<script src="Scripts/jquery-1.9.1.js"></script>
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/angular-ui-router.js"></script>
	<script src="Scripts/angular-sanitize.min.js"></script>
	<script src="Scripts/bootstrap.js"></script>
	<!-- angular -->
	<script src="App/app.js"></script>
	<!-- angular services-->
	<script src="App/Services/CustomerCategoryService.js"></script>
	<script src="App/Services/CustomerService.js"></script>
	<script src="App/Services/EmployeeService.js"></script>
	<script src="App/Services/ItemCategoryService.js"></script>
	<script src="App/Services/ItemService.js"></script>
	<script src="App/Services/SaleService.js"></script>
	<script src="App/Services/UserService.js"></script>
	<!-- angular controllers-->
	<script src="App/Controllers/ManagerController.js"></script>
	<script src="App/Controllers/CustomerController.js"></script>
	<script src="App/Controllers/EmployeeController.js"></script>
	<script src="App/Controllers/UserController.js"></script>

</body>
</html>