<div>
	<table class="table table-hover table-bordered table-responsive">
		<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Discount</th>
			<th>PriceAfterDiscount</th>
			<th>Count</th>
			<th>TotalPrice</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in finalBill.items">
			<td>{{item.item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.totalDiscount}}</td>
			<td>{{item.priceAfterDiscount}}</td>
			<td>{{item.count}}</td>
			<td>{{item.totalPrice}}</td>
		</tr>
		<tr>
			<td>creditsSpent: {{finalBill.bonusCreditSpent}}</td>
			<td>bill: {{finalBill.bill}}</td>
			<td>discount: {{finalBill.totalDiscount}}</td>
			<td>final: {{finalBill.billAfterDiscount}}</td>
		</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="placeOrder(finalBill)"> Place Order</button>
</div>