body,html{
	height: 100%;
}
body {
	padding-bottom: 20px;
	background-color: #fafafa;
	color: #5a4e55;
}

nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

.main{
	padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

	.main{
		position: absolute;
		width: calc(100% - 40px); 
		margin-left: 40px;
		float: right;
	}

	nav.sidebar:hover + .main{
		margin-left: 200px;
	}

	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}

	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
    
	nav.sidebar a{
		padding-right: 13px;
	}



	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}

	nav.sidebar{
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		margin-bottom: 0px;
	}

	nav.sidebar li {
		width: 100%;
	}

	nav.sidebar:hover{
		margin-left: 0px;
	}
}
   
@media (min-width: 1330px) {

	.main{
		width: calc(100% - 200px);
		margin-left: 200px;
	}

	nav.sidebar{
		margin-left: 0px;
		float: left;
	}

	nav.sidebar .forAnimate{
		opacity: 1;
	}
}

section{
	padding-left: 15px;
}

input,button,select {
	max-width: 280px;
}

hr {
	border: 0;
}


.thumbnail {
	text-align: center;
	height: 200px;
	width: 200px;
	display: block;
	max-width: 100%;
	padding: 0;
	line-height: 1.428571429;
	background-color: #ffffff;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-left: 15px;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.thumbnail:hover {
	color: #ffffff;
	background-color: #dddddd;
	border: 0;
}

.btn-block {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 0px;
}